<IfModule mod_rewrite.c>
    # Activa el motor de reescritura de URLs
    RewriteEngine On

    # Define la página de error 404 (página no encontrada) personalizada
    ErrorDocument 404 http://localhost/dashboard/TFG_DAW_MartinVazquez_Adrian/error/

    # Condiciones para verificar si el archivo o directorio no existe
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    # Regla de reescritura para redirigir las URLs amigables al controlador y acción correspondientes
    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>